# Manipulation of Airbnb Data

### Data Inspection

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('listings.csv')

In [3]:
df.head(1)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,5396,https://www.airbnb.com/rooms/5396,20230313171257,2023-03-14,city scrape,Explore the heart of old Paris,"Cozy, well-appointed and graciously designed s...","You are within walking distance to the Louvre,...",https://a0.muscache.com/pictures/52413/f9bf76f...,7903,...,4.83,4.95,4.54,7510402838018,f,1,1,0,0,1.99

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56726 entries, 0 to 56725
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            56726 non-null  int64
 1   listing_url                                   56726 non-null  object
 2   scrape_id                                     56726 non-null  int64
 3   last_scraped                                  56726 non-null  object
 4   source                                        56726 non-null  object
 5   name                                          56689 non-null  object
 6   description                                   56161 non-null  object
 7   neighborhood_overview                         32447 non-null  object
 8   picture_url                                   56725 non-null  object
 9   host_id                                       56726 non-null  int64
 10  host_url                                      56726 non-null  object
 11  host_name                                     56708 non-null  object
 12  host_since                                    56708 non-null  object
 13  host_location                                 46634 non-null  object
 14  host_about                                    26865 non-null  object
 15  host_response_time                            31149 non-null  object
 16  host_response_rate                            31149 non-null  object
 17  host_acceptance_rate                          35410 non-null  object
 18  host_is_superhost                             56686 non-null  object
 19  host_thumbnail_url                            56708 non-null  object
 20  host_picture_url                              56708 non-null  object
 21  host_neighbourhood                            32895 non-null  object
 22  host_listings_count                           56708 non-null  float64
 23  host_total_listings_count                     56708 non-null  float64
 24  host_verifications                            56708 non-null  object
 25  host_has_profile_pic                          56708 non-null  object
 26  host_identity_verified                        56708 non-null  object
 27  neighbourhood                                 32447 non-null  object
 28  neighbourhood_cleansed                        56726 non-null  object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      56726 non-null  float64
 31  longitude                                     56726 non-null  float64
 32  property_type                                 56726 non-null  object
 33  room_type                                     56726 non-null  object
 34  accommodates                                  56726 non-null  int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                56611 non-null  object
 37  bedrooms                                      47631 non-null  float64
 38  beds                                          55973 non-null  float64
 39  amenities                                     56726 non-null  object
 40  price                                         56726 non-null  object
 41  minimum_nights                                56726 non-null  int64
 42  maximum_nights                                56726 non-null  int64
 43  minimum_minimum_nights                        56722 non-null  float64
 44  maximum_minimum_nights                        56722 non-null  float64
 45  minimum_maximum_nights                        56722 non-null  float64
 46  maximum_maximum_nights                        56722 non-null  float64
 47  minimum_nights_avg_ntm                        56722 non-null  float64
 48  maximum_nights_avg_ntm                        56722 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              56726 non-null  object
 51  availability_30                               56726 non-null  int64
 52  availability_60                               56726 non-null  int64
 53  availability_90                               56726 non-null  int64
 54  availability_365                              56726 non-null  int64
 55  calendar_last_scraped                         56726 non-null  object
 56  number_of_reviews                             56726 non-null  int64
 57  number_of_reviews_ltm                         56726 non-null  int64
 58  number_of_reviews_l30d                        56726 non-null  int64
 59  first_review                                  45631 non-null  object
 60  last_review                                   45631 non-null  object
 61  review_scores_rating                          45631 non-null  float64
 62  review_scores_accuracy                        45108 non-null  float64
 63  review_scores_cleanliness                     45112 non-null  float64
 64  review_scores_checkin                         45099 non-null  float64
 65  review_scores_communication                   45109 non-null  float64
 66  review_scores_location                        45097 non-null  float64
 67  review_scores_value                           45095 non-null  float64
 68  license                                       38063 non-null  object
 69  instant_bookable                              56726 non-null  object
 70  calculated_host_listings_count                56726 non-null  int64
 71  calculated_host_listings_count_entire_homes   56726 non-null  int64
 72  calculated_host_listings_count_private_rooms  56726 non-null  int64
 73  calculated_host_listings_count_shared_rooms   56726 non-null  int64
 74  reviews_per_month                             45631 non-null  float64
dtypes: float64(23), int64(17), object(35)
memory usage: 32.5+ MB

In [5]:
df.describe()

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,latitude,longitude,accommodates,bathrooms,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,5.672600e+04,5.672600e+04,5.672600e+04,56708.000000,56708.000000,0.0,56726.000000,56726.000000,56726.000000,0.0,...,45112.000000,45099.000000,45109.000000,45097.000000,45095.000000,56726.000000,56726.000000,56726.000000,56726.000000,45631.000000
mean,1.973188e+17,2.023031e+13,1.295704e+08,21.893948,32.803238,NaN,48.864290,2.344470,3.048919,NaN,...,4.589212,4.786115,4.800066,4.799382,4.590021,15.104643,14.330748,0.622307,0.015742,1.009644
std,3.209526e+17,0.000000e+00,1.547738e+08,93.175233,143.030468,NaN,0.018055,0.033243,1.611676,NaN,...,0.519631,0.401047,0.396593,0.344041,0.470871,51.584652,51.453338,4.438866,0.263379,1.362947
min,5.396000e+03,2.023031e+13,2.750000e+02,1.000000,1.000000,NaN,48.816080,2.235490,0.000000,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.010000
25%,1.629361e+07,2.023031e+13,1.537846e+07,1.000000,1.000000,NaN,48.851310,2.323630,2.000000,NaN,...,4.440000,4.750000,4.750000,4.750000,4.470000,1.000000,1.000000,0.000000,0.000000,0.160000
50%,3.663390e+07,2.023031e+13,4.925020e+07,1.000000,2.000000,NaN,48.865590,2.347680,2.000000,NaN,...,4.740000,4.910000,4.940000,4.900000,4.700000,1.000000,1.000000,0.000000,0.000000,0.520000
75%,5.978393e+17,2.023031e+13,2.125869e+08,3.000000,4.000000,NaN,48.878690,2.368830,4.000000,NaN,...,4.950000,5.000000,5.000000,5.000000,4.880000,2.000000,1.000000,0.000000,0.000000,1.330000
max,8.463336e+17,2.023031e+13,5.049987e+08,2139.000000,3629.000000,NaN,48.901670,2.467120,16.000000,NaN,...,5.000000,5.000000,5.000000,5.000000,5.000000,447.000000,447.000000,91.000000,10.000000,49.550000

In [6]:
df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [7]:
df.shape

(56726, 75)

# Cleaning Data

### Select column to exploit

In [8]:
df1 = df[['id','listing_url','name','description','neighborhood_overview','host_id','host_url','host_name','neighbourhood_cleansed','latitude','longitude','room_type','price','minimum_nights','minimum_nights','availability_365','number_of_reviews','last_review','calculated_host_listings_count','reviews_per_month']].copy()
df1.head(1)

,id,listing_url,name,description,neighborhood_overview,host_id,host_url,host_name,neighbourhood_cleansed,latitude,longitude,room_type,price,minimum_nights,minimum_nights,availability_365,number_of_reviews,last_review,calculated_host_listings_count,reviews_per_month
0,5396,https://www.airbnb.com/rooms/5396,Explore the heart of old Paris,"Cozy, well-appointed and graciously designed s...","You are within walking distance to the Louvre,...",7903,https://www.airbnb.com/users/show/7903,Borzou,HÃ´tel-de-Ville,48.85247,2.35835,Entire home/apt,$124.00,15,15,184,332,2023-02-18,1,1.99

### show how many NaN values

In [12]:
df1.isna().sum()

id                                    0
listing_url                           0
name                                 37
description                         565
neighborhood_overview             24279
host_id                               0
host_url                              0
host_name                            18
neighbourhood_cleansed                0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
minimum_nights                        0
availability_365                      0
number_of_reviews                     0
last_review                       11095
calculated_host_listings_count        0
reviews_per_month                 11095
dtype: int64

# last_review Data transformation into datetime

In [14]:
df1['last_review']

0        2023-02-18
1        2023-03-15
2        2015-09-14
3               NaN
4        2022-10-21
            ...
56721           NaN
56722           NaN
56723           NaN
56724           NaN
56725           NaN
Name: last_review, Length: 56726, dtype: object

In [15]:
df1['last_review'] = pd.to_datetime(df1['last_review'])
df1['last_review']

0       2023-02-18
1       2023-03-15
2       2015-09-14
3              NaT
4       2022-10-21
           ...
56721          NaT
56722          NaT
56723          NaT
56724          NaT
56725          NaT
Name: last_review, Length: 56726, dtype: datetime64[ns]